*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --background-primary: #F4F5FB;
  --background-secondary:#FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary:#374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --ff: "Inter", sans-serif;
  --title: 1.5rem 2rem;
  --label: 1rem 1.25rem;
  --paragraph: 1rem 1.25rem;
  --link: 0.875rem 1rem ;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
}

ul[role="list"]{
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--background-primary);
}

h1{
  color: var(--content-primary);
  font-size: var(--title);
  font-weight: var(--fw-bold);
  font-family: var(--ff);
}

p, span, label{
  color: var(--content-secondary);
  font-size: var(--paragraph);
  font-family: var(--ff);
  font-weight: var(--fw-medium);
}

a{
  color: var(--color-brand);
  font-size: var(--link);
  font-family: var(--ff);
  text-decoration: none;
  font-weight: var(--fw-medium);
}